#boxleft {
  background: black;
height: -webkit-fill-available;
margin-left: -100;
width: 100px;
text-align: left;
position: fixed;
border-radius: 25px;
}
#boxright {
  background: black;
  height: -webkit-fill-available;
  margin-left: 1200px;
  width: 100px;
  text-align: right;
  position: fixed;
  border-radius: 25px;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
