#boxleft {
  background: black;
height: -webkit-fill-available;
margin-left: -100;
width: 100px;
text-align: left;
position: fixed;
border-radius: 25px;
border: 1px solid black;
padding: 5px 0; border-radius: 6px;
z-index: 1; bottom: 125%; left: 50%; margin-left: -60px;
opacity: 1; transition: opacity 0.3s;
}
#boxright {
  background: black;
  height: -webkit-fill-available;
  margin-left: 1200px;
  width: 100px;
  text-align: right;
  position: fixed;
  border-radius: 25px;
  border: 1px solid black;
  padding: 5px 0; border-radius: 6px;
  z-index: 1; bottom: 125%; left: 50%; margin-left: -60px;
  opacity: 1; transition: opacity 0.3s;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
